<p>Your confirmation number <%= @signup.id %>. Please write this number on your forehead with a Sharpie prior to attending. Seriously: whoever built this thing didn't include email receipts or anything like that. Actually, the number probably doesn't matter. Just try to keep track of which session you signed up for.</p>

<p><a href="/" class="btn btn-primary">&larr; Homeward Bound</a></p>