<h1>Who signed up?</h1>
<% @sessions.each do |session| %>
  <h3><%= session.title %></h3>
  <ul>
    <% session.signups.each do |signup| %>
    <li><%= signup.name %></li>
    <% end %>
  </ul>
<% end %>